#hapihapi {
    background-image: url(https://media.tenor.com/ZPHHiCRxrlsAAAAj/happy-happy-happy-cat.gif);
    opacity: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#gatopan {
    background-image: url(https://media.tenor.com/T8SBWIfKcFQAAAAj/maxwell-cat.gif);
    opacity: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}